.elevator {
  border: 2px solid black;
  margin: 0;
  padding: 0;
}

.elevator li {
  margin: auto;
  width: 100%;
  height: auto;
  border: 1px solid black;
  list-style-type: none;
}

.elevator img {
  width: 100px;
  height: 100px;
}
